$navbar-default-bg: #030337;
@import 'bootstrap/dist/css/bootstrap';



.badge {
background-color: #CEF6F5;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
}
.input_checkbox input {
width: auto !important;
}





#brand {
float: left;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
}

#brand:hover {
color: #fff;
text-decoration: none;

}
.storie-actions {
  padding-top: 5px;
color: white;
}


.btn btn-xs
{
color:white;
}


.content {
  margin-top: 0;
}
.center
{
text-align: center;
}



.jumbotron
{
background-image: asset-url('background1.jpg');
background-size: cover;
height: 300px;
}
.jumbotron h1 {
color: #fff;
text-align: center;
margin-bottom: 30px;
letter-spacing: -1px;
font-weight: bold;
}




footer {
width: 70%;
border-top: 1px solid #eaeaea;
color: #777;
}
footer a:hover {
color: #222;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 15px;
}
